<div class="table-responsive">
<table class="table table-condensed table-bordered table-hover">
    <thead>
        <tr>
            <th>Email</th>
            <th>Name</th>
            <th>Disciplines</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="professor in professors">
            <td>{{professor.email}}</td>
            <td>{{professor.name}}</td>
            <td>

                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Subject <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li ng-repeat="discipline in professor.disciplines">
                            <a ui-sref="state1.discipline({id: discipline.id})">{{discipline.name}}</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    </tbody>
</table>
</div>