<div class="wrap">
    <nav class="navbar-inverse navbar-fixed-top navbar" role="navigation"  bs-navbar>
        <div class="container">
            <div class="navbar-header">
                <button ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" type="button" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span></button>
                <a class="navbar-brand" href="#/">YouTube</a>
            </div>
            <div ng-class="!navCollapsed && 'in'" ng-click="navCollapsed=true" class="collapse navbar-collapse" >
                <ul class="navbar-nav navbar-right nav">
                    <li data-match-route="/professor">
                        <a ui-sref="state1.professor">Professors</a>
                    </li>
                    <li data-match-route="/video">
                        <a  ui-sref="state1.video">Video</a>
                    </li>
                    <li data-match-route="/dashboard" ng-show="isLoggedIn()" class="ng-hide">
                        <a href="#/dashboard">Dashboard</a>
                    </li>
                    <li data-match-route="/upload" ng-show="isLoggedIn()">
                        <a ui-sref="state1.upload">Upload</a>
                    </li>
                    <li ng-class="{active:isActive('/logout')}" ng-show="isLoggedIn()" ng-click="logout()"  class="ng-hide">
                        <a href="">Logout({{this.user.email}})</a>
                    </li>
                    <li data-match-route="/login" ng-hide="isLoggedIn()">
                        <a ui-sref="state1.login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div ui-view>
            <div class="row">
                <div class="col-lg-12">
                    <div class="jumbotron">
                        <h1>Welcome to JWT example!</h1>

                        <div class="row">
                            <div data-ng-hide="isLoggedIn()" class="col-md-6">
                                <a href="#/registration" class="btn btn-default btn-primary margin-right" role="button">Sign up</a>
                                or
                                <a href="#/login" class="btn btn-default btn-primary margin-left" role="button">Sign in</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <p class="pull-left">&copy; YouTube LP</p>

        <p class="pull-right">Laravel</p>
    </div>
</footer>